<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>testtt</title>
<body>

{{template "svgs"}}

{{template "header"}}

<div id="atf">
	<main>
		<svg class="icon icon-big-in">
			<use xlink:href="#inbox"></use>
		</svg>
		<h1>Are you in?</h1>
	</main>
</div>

{{template "btf"}}

</body>
</html>
