<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>testting</title>
<body>
{{if gt .Score1 .Score2}}
SCORE1 > SCORE2
{{end}}

{{if lt .Score1 .Score2}}
SCORE 1 < SCORE2
{{end}}

{{if eq .Score1 .Score2}}
SCORE 1 = SCORE2
{{end}}}

{{if lt .Score1 10}}
SCORE 1 is less than 10
{{end}}

</body>
</html>
