<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello Dudes</title>
</head>
<body>

{{range .Sages}}
{{uc .Name}}
{{end}}

{{range .Sages}}
{{ft .Name}}
{{end}}

</body>
</html>
